.item {
	font-family: Dosis;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 23px;
	color: #ffffff;
	height: 55px;
	text-transform: uppercase;
	opacity: 0.5;
	cursor: pointer;

	&:hover {
		opacity: 1;
	}
}
